@charset "UTF-8";

.formDiv {
	position: fixed;
	max-height: max-content;
	top: 0;
	left: 75%;
}

.container {
	justify-items: center;
	color: gainsboro;
	background-color: var(--main-panel);
	border-radius: 15px;
	padding: 15px;
	margin: 15px;
	padding-top: 5px;
}
h1 {
	text-align: center;
	justify-self: center;
	width: 100%;
}

form {
	max-width: 65%;
	justify-self: center;
	margin: 0 auto;
	background-color: #15191f;
	padding: 15px;
	border-radius: 15px;
}

form > div > div, form > div {
	padding-bottom: 10px;
}

div > label {
	font-weight: bold;
	padding-right: 20px;
}

input {
	min-width: 10%;
	max-width: max-content;
}