.addButton {
	background-color: var(--main-panel);
	color: #15191f;
	height: 100px;
	width: 100px;
	position:fixed;
	bottom: 30px;
	right: 30px;
	border-radius: 50%;
}

#addText {
	font-size: 75px;
	margin-top: -5px;
	width: 100%;
	padding: 0;
	grid-column: 2;
	grid-row: 2;
}

.addSymbol {
	margin: 0;
	padding: 0;
	--outer: calc((100% - var(--inner))/2);
	--inner: 95%;
	display: grid;
	grid-template-columns: var(--outer) var(--inner) var(--outer);
	grid-template-rows: var(--outer) var(--inner) var(--outer);
	align-items: center;
	
}