.outerGrid {
	display: grid;
	grid-template-columns: 5% 90% 5%;
}

.artist {
	width: 90%;
	display: flex;
	flex-wrap:wrap;
	flex: 1 0 calc(50% - 10px);
	flex-direction: row;
	justify-self: center;
	justify-content: LEFT;
	margin: 15px;
	padding: 30px;
	border-radius: 15px;
	grid-column: 2;
	background-color: var(--main-panel);
}

h1 {
	font-size: 40px;
	padding-right: 15px;
}

.artist > div {
	color: white;
	flex-wrap: wrap;
	border-radius: 15px;
	padding-top: 15px;
	background-color: #15191f;
	flex: 0 0 calc(50% - 10px);
	display: flex;
	justify-content: center;
}
